@{ Layout = "~/Views/Shared/_DisplayLayout.cshtml"; }
@using System.Xml.Linq
@Scripts.Render("~/bundles/jquery")
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<div id="wrapper">
    <div class="row">
        @using (@Html.BeginForm("FilterForm", "Filter", FormMethod.Get))
        {
            <div class="col-sm-3 col-md-3 col-lg-3 hidden-xs leftPanel">
                <div class="row row-1 rows">
                    <div class="col-sm-4 col-md-4 col-lg-4">
                        <h4>Search:</h4>
                    </div>

                    <div class="col-sm-4 col-md-4 col-lg-4">
                        <input type="submit" class="btn btn-default" name="submit" value="Save" />
                    </div>

                    <div class="col-sm-4 col-md-4 col-lg-4">
                        <button type="button" class="btn btn-warning">Clear</button>
                    </div>
                </div>

                <div class="row row-2 rows">
                    <div class="col-sm-6 col-md-6 col-lg-6 Pr">
                        <p>Product</p>
                    </div>

                    <div class="col-sm-6 col-md-6 col-lg-6 Pr">
                        <p>Project</p>
                    </div>
                </div>

                <div class="row row-3 rows">
                    <div class="col-sm-4 col-md-4 col-lg-4">
                        <label>Product Type</label>
                    </div>

                    <div class="col-sm-8 col-md-8 col-lg-8">
                        <select name="projectType" id="projectType" class="form-control">
                            <option vlaue=""></option>
                            @foreach (var i in ViewBag.categories)
                            {
                                <option value="@i.CategoryName">@i.CategoryName</option>
                            }
                        </select>
                    </div>
                </div>

                <div class="row row-4 rows">
                    <div class="col-sm-3 col-md-3 col-lg-3">
                        <label>Model Year</label>
                    </div>
                    <div class="col-sm-4 col-md-4 col-lg-4">
                        <input class="form-control" type="number" name="minYear" placeholder="Min" />
                    </div>
                    <div class="col-sm-4 col-md-4 col-lg-4">
                        <input class="form-control" type="number" name="maxYear" placeholder="Max" />
                    </div>
                </div>

                <div class="row row-5 rows">
                    <div class="col-sm-7 col-md-7 col-lg-7">
                        <label>Technical Specifications</label>
                    </div>
                </div>

                <div class="row row-6 rows">
                    <span class="glyphicon glyphicon-sort"></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Airflow (CFM)<br /><br />
                    <div class="row">
                        <div class="col-sm-3 col-md-3 col-md-3">
                            <input type="number" class="form-control sliderValue" name="minAir" data-index="0" value="1000" id="minAir" />
                        </div>
                        <div style="margin-top:12px" class="col-sm-6 col-md-6 col-md-6">
                            <div id="sliderAir"></div>
                        </div>
                        <div class="col-sm-3 col-md-3 col-md-3">
                            <input type="number" class="form-control sliderValue" name="maxAir" data-index="1" value="10000" id="maxAir" />
                        </div>
                    </div>
                </div>

                <div class="row row-7 rows">
                    <span class="glyphicon glyphicon-sort"></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Max Power (W)<br /><br />
                    <div class="row">
                        <div class="col-sm-3 col-md-3 col-md-3">
                            <input type="number" class="form-control sliderValue" name="minPower" data-index="0" value="1" id="minPower" />
                        </div>
                        <div style="margin-top:12px" class="col-sm-6 col-md-6 col-md-6">
                            <div id="sliderPower"></div>
                        </div>
                        <div class="col-sm-3 col-md-3 col-md-3">
                            <input type="number" class="form-control sliderValue" name="maxPower" data-index="1" value="3" id="maxPower" />
                        </div>
                    </div>
                </div>

                <div class="row row-8 rows">
                    <span class="glyphicon glyphicon-sort"></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Sound At Max Speed (dBA)<br /><br />
                    <div class="row">
                        <div class="col-sm-3 col-md-3 col-md-3">
                            <input type="number" class="form-control sliderValue" name="minSound" data-index="0" value="10" id="minSound" />
                        </div>
                        <div style="margin-top:12px" class="col-sm-6 col-md-6 col-md-6">
                            <div id="sliderSound"></div>
                        </div>
                        <div class="col-sm-3 col-md-3 col-md-3">
                            <input type="number" class="form-control sliderValue" name="maxSound" data-index="1" value="50" id="maxSound" />
                        </div>
                    </div>
                </div>

                <div class="row row-9 rows">
                    <span class="glyphicon glyphicon-sort"></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Fan Sweep Diameter (in)<br /><br />
                    <div class="row">
                        <div class="col-sm-3 col-md-3 col-md-3">
                            <input type="number" class="form-control sliderValue" name="minSweep" data-index="0" value="5" id="minSweep" />
                        </div>
                        <div style="margin-top:12px" class="col-sm-6 col-md-6 col-md-6">
                            <div id="sliderSweep"></div>
                        </div>
                        <div class="col-sm-3 col-md-3 col-md-3">
                            <input type="number" class="form-control sliderValue" name="maxSweep" data-index="1" value="100" id="maxSweep" />
                            <input type="hidden" value="Fans" name="sub" />
                        </div>
                    </div>
                </div>
            </div>
        }

        <script>
            $(document).ready(function () {
                $("#sliderAir").slider({
                    range: true,
                    min: 1000,
                    max: 10000,
                    values: [1000, 10000],
                    slide: function (event, ui) {
                        $("#minAir").val(ui.values[0]);
                        $("#maxAir").val(ui.values[1]);
                    }
                });
                $("#minAir").val($("#sliderAir").slider("values", 0));
                $("#maxAir").val($("#sliderAir").slider("values", 1));

                $("#sliderPower").slider({
                    range: true,
                    min: 1,
                    max: 3,
                    values: [1, 3],
                    slide: function (event, ui) {
                        $("#minPower").val(ui.values[0]);
                        $("#maxPower").val(ui.values[1]);
                    }
                });
                $("#minPower").val($("#sliderPower").slider("values", 0));
                $("#maxPower").val($("#sliderPower").slider("values", 1));

                $("#sliderSound").slider({
                    range: true,
                    min: 10,
                    max: 50,
                    values: [10, 50],
                    slide: function (event, ui) {
                        $("#minSound").val(ui.values[0]);
                        $("#maxSound").val(ui.values[1]);
                    }
                });
                $("#minSound").val($("#sliderSound").slider("values", 0));
                $("#maxSound").val($("#sliderSound").slider("values", 1));

                $("#sliderSweep").slider({
                    range: true,
                    min: 5,
                    max: 100,
                    values: [5, 100],
                    slide: function (event, ui) {
                        $("#minSweep").val(ui.values[0]);
                        $("#maxSweep").val(ui.values[1]);
                    }
                });
                $("#minSweep").val($("#sliderSweep").slider("values", 0));
                $("#maxSweep").val($("#sliderSweep").slider("values", 1));
            });
        </script>

        @using (Html.BeginForm("Compare", "Compare", FormMethod.Get))
        {
            <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9 rightPanel">
                <h5><b>Mechanical</b>&nbsp;&nbsp;&nbsp;&nbsp;>&nbsp;&nbsp;&nbsp;&nbsp; HUVAC Fans</h5>
                <div class="row">
                    <div class="col-sm-2 col-md-2 col-lg-2">
                        <input type="submit" class="btn btn-primary" value="Compare Items" name="compareSubmit" />
                    </div>
                </div>
                @if (ViewBag.type == "Fans")
                {
                    foreach (var i in ViewBag.result)
                    {
                        XElement xml = XElement.Parse(i.SpecDetails);
                        <div id="product">
                            <a href='@Url.Action("Click", "ProductSummary", new { id = i.ProductId })'>
                                <img class="img-responsive" src="~/Src/Products/@i.ProductImage" width="150" height="120" />
                            </a>
                            <h5><b>@i.ProductName<br />@i.SeriesName Series<br />@i.ModelName</b></h5><br />
                            <h5>@xml.Descendants("item").First().Value CFM</h5>
                            <h5>@xml.Elements("item").ToList()[1].Value.Split(',')[0].Substring(1) W At Max Speed</h5>
                            <h5>@xml.Elements("item").ToList()[5].Value Sound At Max Speed</h5>
                            <h5>@xml.Elements("item").ToList()[6].Value Fan Sweep Diameter</h5><br />
                            <div class="row">
                                <div class="col-sm-5 col-md-5 col-lg-5">
                                    <input type="checkbox" name="checkedItem" class="compare" value="@i.ProductId" />Compare
                                </div>
                                <div class="col-sm-5 col-md-5 col-lg-5">
                                    <button type="button" class="btn btn-sm btn-warning">Add To Card</button>
                                </div>
                                <div class="col-sm-1 col-md-1 col-lg-1">
                                </div>
                            </div>
                        </div>
                    }
                }
                else
                {
                    foreach (var i in ViewBag.result)
                    {
                        XElement xml = XElement.Parse(i.SpecDetails);
                        <div id="product">
                            <a href='@Url.Action("Click", "ProductSummary", new { id = i.ProductId })'>
                                <img class="img-responsive" src="~/Src/Products/@i.ProductImage" width="150" height="120" />
                            </a>
                            <h5><b>@i.ProductName<br />@i.SeriesName Series<br />@i.ModelName</b></h5><br />
                            <h5>@xml.Elements("item").ToList()[0].Value dB</h5>
                            <h5>@xml.Elements("item").ToList()[1].Value Meter</h5>
                            <h5>@xml.Elements("item").ToList()[2].Value FT</h5>
                            <h5>@xml.Elements("item").ToList()[3].Value lb.</h5><br />
                            <div class="row">
                                <div class="col-sm-5 col-md-5 col-lg-5">
                                    <input type="checkbox" class="compare" name="checkedItem" value="@i.ProductId" />Compare
                                </div>
                                <div class="col-sm-5 col-md-5 col-lg-5">
                                    <button type="button" class="btn btn-sm btn-warning">Add To Card</button>
                                </div>
                                <div class="col-sm-1 col-md-1 col-lg-1">
                                </div>
                            </div>
                        </div>
                    }
                }
            </div>
        }
    </div>
</div>

<script>
    $(document).ready(function () {
        var count = 0;
        var compareList = [];
        $(".compare").click(function () {
            count += 1;
            if (count <= 3) {
                $('#space').text(count);
                compareList.push($(this).val());
                $('#compareBtn').removeClass('disabled');
            } else {
                alert("The upper limits for compare is 3");
                $(this).prop("checked", false);
            }
        });

        $("#compareBtn").click(function () {
            if (parseInt($("#space").text()) != 0) {
                alert(compareList);
            }
        });
    });
</script>